<link rel="stylesheet" href="skills.component.css">

<div class="skills">
    <div class="form-group">
        <label for="" class="label">What do you do?<span>*</span></label>
        <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                        
            <option value="1">Agriculture, Food, & Natural Resources</option>
            <option value="2">Business, Management, & Adiminstration</option>
            <option value="3">Communitcations & Information Systems</option>
            <option value="4">Engineering, Manufactoring, & Technology</option>
            <option value="5">Health Science Technology</option>
            <option value="5">Education</option>
          </select>
    </div>
</div>

<div class="skills">
    <div class="form-group">
        <label for="" class="label">Education<span>*</span></label>
        <select class="form-select" aria-label="Selection one" aria-placeholder="Selection one">
                        
            <option value="1">High School Graduate</option>
            <option value="2">Associates Degree</option>
            <option value="3">Bachelors Degree</option>
            <option value="4">Masters Degree</option>
            <option value="5">Professional Degree</option>
            <option value="6">Joint Degrees</option>
            <option value="7">Teacher Certification</option>
          </select>
    </div>
</div>

<div class="skills">
    <div class="box">
        <label for="" class="label">Range<span>*</span></label>
        <div class="values">
            <div>$<span id="first"></span></div> - <div>$<span id="second"></span></div>
        </div>
        <small>Income Range:
            <div>$<span id="third"></span></div>
        </small>

        <div class="slider" data-value-0="#first" data-value-1="$second" data-range="#third"></div>
    </div>

    <!--dribble-->
    <a class="dribbble" href="https://dribbble.com/shots/7268454-Rubber-Slider" target="_blank">
        <img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt="">
    </a>
</div>



